@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');

@import "tailwindcss";


:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme {

  --font-heading: "Plus Jakarta Sans", sans-serif;
  --font-body: "DM Sans", sans-serif;

  --color-primary: #00A8A8;
  --color-hover: #008E8E;
  --color-secondary: #2D3E50;
  --color-card: #FFFFFF;

  --color-text-primary: #0F172A;
  --color-text-secondary: #64748B;
  --color-text-tertiary: #94A3B8;

  --color-alert: #F97316;

  --color-background: #F8FAFC;
  --color-foreground: #0F172A;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #ffffff;
    --foreground: #ededed;
  }
}

body {
  background-color: var(--color-background);
  color: var(--color-foreground);
}